# This file is the entry point to configure the routes of your app.
# Methods with the #[Route] attribute are automatically imported.

controllers:
    resource:
        path: ../src/Controller/
        namespace: App\Controller
    type: attribute
